body {
    background-color:#f8f8f8;
}

header {
    display: inline-block;
    width: 800px;
    background-color:blueviolet;
    margin-left: calc(50% - 400px); 
    margin-right: calc(50% - 400px);
}

main {
    display: inline-block;
    width: 800px;
    background-color:cadetblue;
    margin-left: calc(50% - 400px); 
    margin-right: calc(50% - 400px);
}