h1 {
    color: #9f9f9f;
    font-family: 'Menlo', sans-serif;
    font-size: 90px;
    font-weight: 500;
    line-height: 1;
    margin-top: 5px;
    margin-bottom: 5px;
}

h2 {
    color: #9f9f9f;
    font-family: 'Menlo', sans-serif;
    line-height: 1.2;
    font-size: 25px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
    color: #9f9f9f;
    font-family: 'Verdana', sans-serif;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
}